int $funcName$(int* matrix, int height, int width, int thread) {
	int* rez = (int*)malloc(sizeof(int)*height);
	for (int i = 0; i < height; i++) {
		rez[i] = $1$(matrix + (i * width), width);
	}
	return $2$(rez, height);
}