void step(int *matrix, int width, int heigth) {
	int *bufer = (int*)malloc(sizeof(int) * width * heigth);
	for (int i = 0; i < heigth; i++) {
		for (int j = 0; j < width; j++) {
			$1$(matrix, bufer, i, j, width, heigth);
		}
	}
	for (int i = 0; i < width * heigth; i++) {
		matrix[i] = bufer[i];
	}
	free(bufer);
}